/* General */
body {
    background-color: orangered;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-wrap: break-word;
}
.row {
}

/* Heading */
/* Navigation */
/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.socialMedia {
    max-height: 2em;
    max-width: 1.8em;
    border-left: 2px;
    border-right: 2px;
    border-right-color: black;
    border-right-style: solid;
    padding: 1em
}

.socialMediaBox {
    display: inline-flex;
    max-height: 10vh;
    width: 100%;
    justify-content: left;
    background: linear-gradient(bisque 90%, lightblue);
    box-shadow: 0 0 22px .2rem black;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
        
}


#toppage {
    display: flex;
    padding: .1em 1em 2em 1em;
    max-height: 100%;
    margin-left: auto;
    margin-top: .7em;
    margin-right: .7em;
    margin-bottom: 1em;
    background: linear-gradient(orangered, bisque);
    box-shadow: 0 0 1px .1rem black;
}
/* Regions */

.South {
    fill: red;
}

.Northeast {
    fill: blue;
}

.Great-Lakes {
    fill: orange;
}

.Rockies {
    fill: purple;
}

.Midwest {
    fill: cornflowerblue;
}

.Southwest {
    fill: turquoise;
}

.Utah {
    fill: orangered;
}

.California {
    fill: pink;
}

.Northwest {
    fill: forestgreen;
}

.Hawaii {
    fill: darkred;
}

.Alaska {
    fill: saddlebrown;
}


/* Media Queries*/
@media (min-width: 769px) {

}