/* General */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-wrap: break-word;
}

.container {
    padding-left: 0;
    margin left: 0;
}

#svgmap {
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 10%;

}
.button-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: -1;
}

.reset {
    margin-left: 1px;
    z-index: 5;
}

.hidemap {
    margin-left: auto;
    margin-right: .35em;
    z-index: 5;
}

.Map {
    padding-top: 10px;
    border-top: 10px double black;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 10px double white;
    margin-bottom: 10px;
}

footer {
    padding: 30px 15px;
    width: 100%;
    height: auto;
    margin-top: auto;
}

/* Heading */
.display-4 {
    font-weight: bolder;
    font-size: 4em;
    border-bottom: 5px dotted;
    border-top: 20px solid;
    border-bottom-color: black;
    border-top-color:white;
    text-shadow: 3px 3px grey;
}


.jumbotron {
    background-image: url(../images/DSC06348.JPG);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bolder;
    align-content: center;
    text-align: center;

}
.lead {
    font-size:1.5em;
    font-weight: 400;
    text-shadow: 1.5px 1.5px grey;
}

.photogroup {
    border-bottom: 15px solid black;
    margin-bottom: 45px;
}
#change-image {
    text-align: center;
    border-top: 5px solid;
    border-left: 5px dotted;
    border-right: 5px dotted;
    border-bottom: 5px solid;
    padding:10px;
}


/* Navigation */
.navbar-collapse.in {
    display: block;
}

/* Footer */
.request {
    color: black;
    margin-top: 7px;
    
}
#footer-container {
    display: inline-flex;
    margin-top: auto;
    background-color:#2125;
    background-image: linear-gradient(to right, #2125 95% , black);
    justify-content: center;
    box-shadow: 16px 10px #888888;
    min-width: 100%;

}

.footer-class {
    min-width: 100%;
}

.socialMedia {
    max-height: 3.5em;
    max-width: 3.5em;
    border-left: 0px;
    border-right: 3px solid black;
    padding: .5em;
    margin-top: 0px;
    background-color: none;
    align-content: center;
    display: inline-grid;
}



/* Regions */

.South {
    fill: red;
}

.Northeast {
    fill: blue;
}

.Great-Lakes {
    fill: orange;
}

.Rockies {
    fill: purple;
}

.Midwest {
    fill: cornflowerblue;
}

.Southwest {
    fill: turquoise;
}

.Utah {
    fill: orangered;
}

.California {
    fill: pink;
}

.Northwest {
    fill: forestgreen;
}

.Hawaii {
    fill: darkred;
}

.Alaska {
    fill: saddlebrown;
}


/* Media Queries*/
@media (max-width: 600px) {
    .request {
        font-size: .8em;
        padding:10px
    }
    .img-fluid {
        width: 80%;
        margin-left:2em;
    }
    .lead {
        color: white;
    }
}

@media (min-width: 319px) {

    .jumbotron {
        min-height: 600px;
        color: white;
    }

}

@media (min-width: 600px) {


    .jumbotron {
        min-height: 700px;
        

    }
.request {
    color: black;
    
}


}

@media (min-width: 769px) {
    img:hover {
        transform: scale(1.2)
    }
    .jumbotron {
        min-height: 900px;
        color:black;
    }

.request {
    color: black;
}

@media (min-width: 1080px) {

    .jumbotron {
        min-height: 1200px;
    }

}
